In [1]:
import pandas as pd
import numpy as np

In [3]:
dict1 = {
    "name" : ['Anshu', 'Rohan', 'skillISsue'],
    "marks" : [90,69,55],
    "city" : ['Chandigarh', 'Mohali', 'Delhi']
}

In [6]:
# df means dataframe. dataframe is just same as excel sheet
df = pd.DataFrame(dict1)
df

         name  marks        city
0       Anshu     90  Chandigarh
1       Rohan     69      Mohali
2  skillISsue     55       Delhi

In [8]:
# to export dataframe into csv
df.to_csv('students.csv')

In [9]:
# to remove index 0 1 2 from the csv file do this
df.to_csv('students_indexFalse.csv', index=False)

In [12]:
# when there are millions of rows , it will not show all data. To get the idea of csv file
# use df.head(__any__int_value__) to get first 2-4 rows of the csv file
df.head(2)
# to get the end rows of csv file
df.tail(2)

         name  marks    city
1       Rohan     69  Mohali
2  skillISsue     55   Delhi

In [15]:
# to get the mean median std etc we use df.describe()
df.describe()
# to make its csv file
df1 = df.describe()
df1.to_csv('Stats of Data.csv', index=True)

In [26]:
# lets read a csv file and change data and save it back to it
Students = pd.read_csv('students.csv')
Students['marks'][0] = 60
# save it back into csv file
Students.to_csv('students.csv')

/tmp/ipykernel_5623/4211184680.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  Students['marks'][0] = 60
/tmp/ipykernel_5623/4211184680.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Students['marks'][0] = 60

In [ ]:
# change index from int to alpha numeric
Students.index = ['first', 'second', 'third']
Students
Students.to_csv('students.csv')